SpeechpadFootControl_original.exe
SpeechpadFootPedalBindings.txt
src/SpeechpadFootPedalBindings.txt
SpeechpadFootControlBindings.txt
src/SpeechpadFootControlBindings.txt
src/SpeechpadFootControl.ahk.bak
ResHacker.lnk
src/ResHacker.lnk
